/* _content/AugCenterUI/Pages/Displays/LoadingItemDisplay.razor.rz.scp.css */
.lds-ripple[b-aqo3uqaaiq] {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div[b-aqo3uqaaiq] {
  position: absolute;
  border: 4px solid rgb(0, 0, 0);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple-b-aqo3uqaaiq 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2)[b-aqo3uqaaiq] {
  animation-delay: -0.5s;
}
@keyframes lds-ripple-b-aqo3uqaaiq {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/* _content/AugCenterUI/Pages/Displays/ProductDisplay.razor.rz.scp.css */
a[b-mg9t4p8k56] {
    text-decoration: none;
}

a:hover .card[b-mg9t4p8k56] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease-in-out;
}

.card[b-mg9t4p8k56] {
    width: 100%;
    height: 100%;
    display: flex;
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

a:hover img[b-mg9t4p8k56] {
    transform: scale(1.07);
    transition: 0.5s ease-in-out;
}

.card-body[b-mg9t4p8k56]{
    background-color: rgb(245,245,245);
}

img[b-mg9t4p8k56] {
    transition: 0.5s ease-in-out;
}


.card h3[b-mg9t4p8k56] {
    text-transform: uppercase;
    color: rgb(177,177,177);
    font-size: .7rem;
}

.card h5[b-mg9t4p8k56] {
    font-size: 18px;
}

.card h4[b-mg9t4p8k56] {
    color: rgb(250, 30, 5);
    font-size: 20px;
}
/* _content/AugCenterUI/Shared/MainLayout.razor.rz.scp.css */
.page[b-byj9p5upsp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-byj9p5upsp] {
    flex: 1;
}

.sidebar[b-byj9p5upsp] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-byj9p5upsp] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-byj9p5upsp]  a, .top-row .btn-link[b-byj9p5upsp] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-byj9p5upsp] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-byj9p5upsp] {
        display: none;
    }

    .top-row.auth[b-byj9p5upsp] {
        justify-content: space-between;
    }

    .top-row a[b-byj9p5upsp], .top-row .btn-link[b-byj9p5upsp] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-byj9p5upsp] {
        flex-direction: row;
    }

    .sidebar[b-byj9p5upsp] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-byj9p5upsp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-byj9p5upsp], article[b-byj9p5upsp] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/AugCenterUI/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-24b2rbea0f] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-24b2rbea0f] {
    height: 6rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-24b2rbea0f] {
    font-size: 1.1rem;
}

.oi[b-24b2rbea0f] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-24b2rbea0f] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-24b2rbea0f] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-24b2rbea0f] {
        padding-bottom: 1rem;
    }

    .nav-item[b-24b2rbea0f]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-24b2rbea0f]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-24b2rbea0f]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-24b2rbea0f] {
        display: none;
    }

    .collapse[b-24b2rbea0f] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
